<ion-header>
  <ion-toolbar color="cabecera">
    <ion-title class="ion-text-center">Add Product</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo">
  <ion-item color="fondo">
    <ion-label position="floating">Name</ion-label>
    <ion-input type="text" [(ngModel)]="product.name" required=""></ion-input>
  </ion-item>

  <ion-item color="fondo">
    <ion-label position="floating">Type</ion-label>
    <ion-input type="text" [(ngModel)]="product.type" required=""></ion-input>
  </ion-item>

  <ion-item color="fondo">
    <ion-label position="floating">Price</ion-label>
    <ion-input type="text" [(ngModel)]="product.price" required=""></ion-input>
  </ion-item>
  <ion-button class="ion-padding" color="secundario" expand="full" (click)="createProduct(product)">
    Create
  </ion-button>
</ion-content>
