<ion-header>
  <ion-toolbar>
    <ion-title>MDA Pizza Delivery</ion-title>
    <ion-button class="logout2" (click)="logout()">Log out</ion-button>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false">
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-subtitle>Oferta</ion-card-subtitle>
      <ion-card-title>Pizza Margarita</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="/assets/1.jpg">
      <p>Precio: 12 €</p>
    </ion-card-content>
    <ion-item>
      <ion-icon name="pin" slot="start"></ion-icon>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-card>
</ion-content>
