ion-item-sliding {
  border-bottom: 1px solid #3a3a3c;
}

.logout {
  line-height: 12px;
  width: 60px;
  font-size: 8pt;
  font-family: tahoma;
  margin-top: -15px;
  margin-right: 10px;
  position:absolute;
  top: 30px;
  right:30px;
}

