<ion-header>
  <ion-toolbar color="cabecera">
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="fondo">
  <ion-item color="fondo">
    <ion-label position="floating">E-mail</ion-label>
    <ion-input type="email" [(ngModel)]="user.email" required=""></ion-input>
  </ion-item>

  <ion-item color="fondo">
    <ion-label position="floating">Password</ion-label>
    <ion-input type="password" [(ngModel)]="user.password" required=""></ion-input>
  </ion-item>

  <ion-button class="ion-padding" color="primary" expand="full" (click)="register(user)">
  Register
</ion-button>
</ion-content>
